<div <%= generate_layout_class(@cio,"draggable ui-widget-content" ) %> >
  <div style="margin-left: -<%= @cio.width/2 %>px;position: absolute;top: <%= @cio.height/2-10 %>px;left: 50%;width: <%= @cio.width %>px;	height: <%= @cio.height%>px;visibility: visible">

    <input id="<%=@aio.name %>" type="radio" class="big" name="<%=@aio.name%>" value="<%=@aio.label %>" <%= "checked" if @aio.is_in? :chosen %> />
    <%=h @aio.label %>
  </div>
</div>
